/* You can add global styles to this file, and also import other style files */

body {
  background-color: #2b2b2b; /* Dark background */
  color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100%;
}
